@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #999;
}

.window {
  background: #fff;
  width: 470px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  position: relative;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:25px;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.main-content {
  padding:50px 46px 25px 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #222;
  width: 100%;
  height: 100%;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 48px;
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.description {
  margin-top: 20px;
  width: 100%;
}

.highlight-window {
  height: 550px;
  width: 400px;
  background: #ccc;
  background: url('./img/item-blue.jpg');
  background-size: cover;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position:relative;
  background-position:center top;
}

.color {
  height: 30px;
  cursor:pointer;
  width: 30px;
  background: #eee;
  border: 1px solid #eee;
  position:relative;
}
.highlight-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  filter: alpha(opacity=0);
 background:url('./img/item-black.jpg');
  background-size:cover;
  -webkit-transition:opacity .4s ease;
          transition:opacity .4s ease;
  background-position:center top;
}
.background-element {
  background: #457;
  position: absolute;
  width: 100%;
  height: 400px;
  left: 201px;
  top: -80px;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transition:background .6s ease;
          transition:background .6s ease;
}
.color.overlay {
  position:absolute;
  z-index:10;
  background:transparent;
  top:-1px;
  left:-1px;
  -webkit-transform:translateX(45px);
      -ms-transform:translateX(45px);
          transform:translateX(45px);
  border:2px solid #fff;
  outline:2px solid #ccc;
  -webkit-transition:-webkit-transform .3s ease;
          transition:transform .3s ease;
}
.color-a {
  background: #333;
  margin-right:14px;
}

.color-b {
  background: #457;

}

.color-picker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 77px;
  margin-top:5px;
  position:relative;
}
a {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
  color:#666;
}
button {
  background:#333;
  border:none;
  font-weight:400;
  height:40px;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
  text-transform: uppercase;
}
button:hover {
  background:#555;
  -webkit-transition:all .3s ease;
          transition:all .3s ease;
}
.divider {
  width:80%;
  height:1px;
  background:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.color-options {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:50%;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.size-picker {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
}
.small {
  font-size: 11px;
  font-size:.7rem;
  color:#999;
  margin-top:10px;
}
.align-right {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}
.size-desc {
  -webkit-align-self:flex-end;
      -ms-flex-item-align:end;
          align-self:flex-end;
}

.purchase-info {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.price {
  font-size: 40px;
  font-size:2.5rem;
}


.selection {
  background:#fff;
}

.range-picker {
  font-size: 16px;
  font-size:1rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:5px;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  line-height:.9em;
}
.range-picker div {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border-right:1px solid #bbb;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  color:#bbb;
  width:30px;
  box-sizing:border-box;
  cursor:pointer;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:30px;
  -webkit-transition:background .5s ease;
          transition:background .5s ease;
}
.highlight-window.mobile {
  display:none;
}
.range-picker .active:hover {
  background:#fff;
}
.range-picker .active {
  -webkit-transform:scale(1.2);
      -ms-transform:scale(1.2);
          transform:scale(1.2);
  background:#fff;
  margin-right:3px;
  margin-left:2px;
  color:#333;
  border:1px solid #666;
  z-index:1;
}
.check {
  position:absolute;
  right:0px;
  left:0px;
  margin-left:auto;
  margin-right:auto;
  background:transparent;
  width:0px;
  bottom:-3px;
  border-left:10px solid transparent;
  border-bottom:10px solid #ccc;
  border-right:10px solid transparent;
  height:0px;
}
.range-picker div:hover {
  background:#eee;
  -webkit-transition:background .2s;
          transition:background .2s;
}
.range-picker div:first-child {
  border-left:1px solid #bbb;
}
.range-picker div.active:first-child {
  border-left:1px solid #333;
}


@media (max-width: 850px) {
  body {
    background:#fff;
    overflow:auto;
  }
  h1 {
    font-size:2rem;
  }
  h3,h2 {
    font-size:1rem;
  }
  .container {
    background:#fff;
    overflow:auto;
  }
  .background-element {
    display:none;
  }
  .main-content {
    overflow:auto;
    height:auto;
    padding-right:25px;
  }
  .options {
    -webkit-flex-flow:column;
        -ms-flex-flow:column;
            flex-flow:column;
  }
  .highlight-window {
    position:fixed;
    left:0;
    height:100%;
    width:50%;
  }
  .window {
    overflow:auto;
    width:50%;
    height:auto;
    position:absolute;
    box-shadow:none;
    right: 0;
  }
  .price {
    margin-bottom:15px;
  }
  .button {
    width:100%;
  }
  .color-options {
    margin-bottom:15px;
  }
  .align-right {
    -webkit-align-self:flex-start;
        -ms-flex-item-align:start;
            align-self:flex-start;
  }
  .purchase-info {
    -webkit-flex-flow:column;
        -ms-flex-flow:column;
            flex-flow:column;
  }
}

@media (max-width: 550px) {
  .highlight-window {
    display:none;
  }
  body {
    overflow:auto;
    height:auto;
  }
  .highlight-window.mobile {
    position:relative;
    display:block;
    height:500px;
    box-shadow:none;
    border:1px solid #ccc;
    margin-top:15px;
    width:100%;
  }
  .container {
    overflow:auto;
  }
  .window {
    width:100%;
    position:relative;
    height:100%;
    overflow:auto;
  }
}



.ui-datepicker,
.ui-datepicker-material-header {
  font-family: 'Roboto', sans-serif;
  display: initial;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker table {
  margin: 0;
}

.ui-datepicker .ui-datepicker-title {
  padding: 10px;
}

.ui-datepicker table {
  width: 100%;
  border-collapse: collapse;
}

.ui-datepicker .ui-datepicker-header {
  background-color: #1F3A58;
  color: white;
}

.ui-datepicker-material-header {
  display: block;
  background-color: #284B72;
  color: white;
  text-align: center;
  width: 325px;
}
.ui-datepicker-material-header
.ui-datepicker-material-day {
  background-color: #1F3A58;
  padding: 10px;
  font-size: 1rem;
}
.ui-datepicker-material-header
.ui-datepicker-material-date {
  padding: 20px;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  padding: 5px;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-month {
  font-size: 2rem;
  text-transform: uppercase;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-day-num {
  font-size: 4.5rem;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-year {
  font-size: 1.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
  display: block;
  padding: 0;
  border: none;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  width: 325px;
  margin: 50px auto;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  text-align: center;
  background: white;
  font-weight: 300;
}

/* .thead{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-content: center;
  text-align: center;
  color: #999999;
  font-weight: 200;
  height: 33px;
  line-height: 36px;
} */
.ui-datepicker-calendar
.ui-state-active {
  border-radius: 50%;
  background-color: #284B72;
  color: white;
}
.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200;
  height: 33px;
  width: 33px;
  line-height: 36px;
}

.ui-datepicker-calendar tbody td {
  background: none;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px;
}

.ui-datepicker-calendar tbody td.ui-datepicker-today {
  background-color: #284B72;
  color: white;
}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month {
  opacity: 0.35;
}

.ui-datepicker-calendar .ui-datepicker-week-end {
  background-color: #b4cbe5;
}

/* #root {
  width: 325px;
  margin: 50px auto;
} */

                              /* ------------------ */
/* ==========================  myStyles START here  ========================= */
                              /* ------------------ */


.wrapper{
  display: grid; grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    "top_nav top_nav top_nav top_nav top_nav top_nav"
    "side_nav m-content m-content m-content m-content m-content";
}
.side_nav a{color: #457;}
.top_nav{grid-area: top_nav; height: 21px;}
.top_nav nav{padding: 21px;}
.side_nav{grid-area: side_nav; position: relative; z-index: 100;}
.m-content{grid-area: m-content;}


                         /* ------------------ */
/* ==========================  Home Work 2  ========================= */
                         /* ------------------ */


/* HomeWork 2/1 ---- START */

.toolbar-header .active {background-color: #333; color: #fff;}
.toolbar-header button:active {background-color: #999;}
.toolbar-header button {
  background: white; border: 1px solid #333;
  color: #333; padding: 5px 10px; margin: 5px;
  height: auto; text-transform: none;
}
.toolbar-body img{margin: 5px;}

/* HomeWork 2/1 ---- END */
 

/* ======================================================================= */


/* HomeWork 2/2 ---- START */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.store{display: grid;}
.store-header{
  text-align: right;
  margin-right: 20px;
  padding: 10px;
}
/* .material-icons{position: absolute; right: 21px;} */
.material-icons:hover{cursor: pointer;}

                /* <=== ShopCard ===> */
.cards-view{
  display: grid; grid-template-columns: repeat(3, 4fr); 
  grid-template-rows: auto; grid-gap: 11px;
}
.shop-card{
  width: 260px; height: 260px;
  padding: 31px; border-radius: 5px; 
  background-color: #f5f5f6; text-align: center;
  position: relative;
  margin-bottom: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-name{
  text-transform: uppercase;
  z-index: 3; 
  font-size: 21px;
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
}
.card-color {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 0;
  right: 0;
  font-size: 14px;
}
.card-price {
  position: absolute;
  z-index: 3;
  bottom: 33px;
  left: 38px;
  font-size: 16px;
  color: #D77074;
}
button.add-to-cart {
  position: absolute;
  z-index: 3;
  bottom: 25px;
  background-color: #f5f5f6;
  color: #D77074;
  border: 1px solid #D77074;
  border-radius: 10em;
  font-weight: bold;
  padding: 5px 15px;
  height: 35px;
}
button.add-to-cart:hover{background-color: #457;}
.card-img{
  width: 300px; 
  height: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

                /* <=== ShopItem ===> */
.list-view {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 96%;
}
.shop-item {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  text-align: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 15px 15px 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
img.item-img{width: 137px; margin-top: -50px;}
.item-name{text-transform: uppercase; font-size: 21px;}
.item-color{font-size: 14px;}
.item-price{font-size: 16px; color: #D77074;}
.item-to-cart{
  background-color: #f5f5f6;
  color: #D77074;
  border: 1px solid #D77074;
  border-radius: 10em;
  font-weight: bold;
  padding: 5px 15px;
  width: fit-content;
  height: 35px;
}
button.item-to-cart:hover{background-color: #457 !important;}

/* HomeWork 2/2 ---- END */

